SINOStockManage/SCG.SINOStock.WCFService/Service References/SINOStockService/SINOStockService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18008/SINOStockService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" />
  <xs:import schemaLocation="http://localhost:18008/SINOStockService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:18008/SINOStockService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SCG.SINOStock.WCF" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="LoginResult" nillable="true" type="q1:Account" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login_Ex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMACAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login_ExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="Login_ExResult" nillable="true" type="q2:Account" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="queryList" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetAccountListResult" nillable="true" type="q4:ArrayOfAccount" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q5:Account" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAccountResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q6:Account" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyAccountResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q7:Account" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelAccountResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePwd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="OldPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePwdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePwdResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExitCurrentAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExitCurrentAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormWorkList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="queryList" nillable="true" type="q8:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormWorkListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetFormWorkListResult" nillable="true" type="q9:ArrayOfFormWork" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFormWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q10:FormWork" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFormWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFormWorkResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyFormWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q11:FormWork" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyFormWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyFormWorkResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFormWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q12:FormWork" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFormWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFormWorkResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductStrList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductStrListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProductStrListResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormWorkByProModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="proModel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormWorkByProModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetFormWorkByProModelResult" nillable="true" type="q14:FormWork" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountById">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetAccountByIdResult" nillable="true" type="q15:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualityInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="queryList" nillable="true" type="q16:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualityInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetQualityInfoListResult" nillable="true" type="q17:ArrayOfQualityInfo" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQualityInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q18:QualityInfo" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQualityInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddQualityInfoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyQualityInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q19:QualityInfo" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyQualityInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyQualityInfoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQualityInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q20:QualityInfo" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelQualityInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelQualityInfoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RoleID" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="queryList" nillable="true" type="q21:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetRoleListResult" nillable="true" type="q22:ArrayOfRole" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RoleID" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q23:Role" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRoleResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RoleID" type="xs:int" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q24:Role" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyRoleResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RoleID" type="xs:int" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q25:Role" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRoleResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStockBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q26:StockBox" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sdoIDList" nillable="true" type="q27:ArrayOfint" />
        <xs:element minOccurs="0" name="IsPrintTray" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStockBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStockBoxResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsPrintTray" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockBoxToBarCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="BarCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockBoxToBarCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetStockBoxToBarCodeResult" nillable="true" type="q28:StockBox" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxBarCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="LotID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxBarCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaxBarCodeResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBoxListByDt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="StartDt" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDt" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBoxListByDtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetBoxListByDtResult" nillable="true" type="q29:ArrayOfStockBox" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxStockBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="LotID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxStockBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetMaxStockBoxResult" nillable="true" type="q30:StockBox" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyStockBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q31:StockBox" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sdoIDList" nillable="true" type="q32:ArrayOfint" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stockLotIDs" nillable="true" type="q33:ArrayOfint" />
        <xs:element minOccurs="0" name="IsPrintTray" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyStockBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyStockBoxResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsPrintTray" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxBarCode_Ex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxBarCode_ExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaxBarCode_ExResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxStockBox_Ex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxStockBox_ExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetMaxStockBox_ExResult" nillable="true" type="q34:StockBox" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBoxBarCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBarCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBoxBarCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="ChangeBoxBarCodeResult" nillable="true" type="q35:StockBox" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyBoxBarCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="OldBarCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewBarCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyBoxBarCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyBoxBarCodeResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStocBoxkEntityByIsUnPrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStocBoxkEntityByIsUnPrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetStocBoxkEntityByIsUnPrintResult" nillable="true" type="q36:StockBox" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cAccountID" type="xs:int" />
        <xs:element minOccurs="0" name="StockLotID" type="xs:int" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="CountQty" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetStockDetailListResult" nillable="true" type="q37:ArrayOfStockDetail" />
        <xs:element minOccurs="0" name="CountQty" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStockDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q38:StockDetail" />
        <xs:element minOccurs="0" name="IsCheck" type="xs:boolean" />
        <xs:element minOccurs="0" name="QtyCount" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStockDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStockDetailResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="QtyCount" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyStockDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q39:StockDetail" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyStockDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyStockDetailResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q40:StockDetail" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStockDetailResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStockDetailStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="strGlassID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLotID" type="xs:int" />
        <xs:element minOccurs="0" name="iStatus" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStockDetailStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStockDetailStatusResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStockDetailStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="strGlassID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLotID" type="xs:int" />
        <xs:element minOccurs="0" name="iStatus" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStockDetailStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="CheckStockDetailStatusResult" nillable="true" type="q41:StockDetail" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStockDetailStatus_Out">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="strGlassID" nillable="true" type="xs:string" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strLotIDs" nillable="true" type="q42:ArrayOfint" />
        <xs:element minOccurs="0" name="iStatus" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStockDetailStatus_OutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="CheckStockDetailStatus_OutResult" nillable="true" type="q43:StockDetail" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockDetailByGlassID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="GlassID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockDetailByGlassIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetStockDetailByGlassIDResult" nillable="true" type="q44:StockDetail" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStockDetail_In">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="strGlassID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLotID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStockDetail_InResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckStockDetail_InResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStockDetail_In_Ex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="strGlassID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLotID" type="xs:int" />
        <xs:element minOccurs="0" name="isCheck" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStockDetail_In_ExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckStockDetail_In_ExResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelStockDetailAndTuihuoCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="StockDetailID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelStockDetailAndTuihuoCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelStockDetailAndTuihuoCountResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotOutEntityByLotNo_Out">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="LotNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="formWork" nillable="true" type="q45:FormWork" />
        <xs:element minOccurs="0" name="OutCount" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotOutEntityByLotNo_OutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetStockLotOutEntityByLotNo_OutResult" nillable="true" type="q46:StockLotOut" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="formWork" nillable="true" type="q47:FormWork" />
        <xs:element minOccurs="0" name="OutCount" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotOutEntityByLotNo_Out_NO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="LotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Qty" type="xs:int" />
        <xs:element minOccurs="0" name="ProModel" nillable="true" type="xs:string" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="formWork" nillable="true" type="q48:FormWork" />
        <xs:element minOccurs="0" name="OutCount" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotOutEntityByLotNo_Out_NOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetStockLotOutEntityByLotNo_Out_NOResult" nillable="true" type="q49:StockLotOut" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="formWork" nillable="true" type="q50:FormWork" />
        <xs:element minOccurs="0" name="OutCount" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndStockLotOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="StockLotID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndStockLotOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndStockLotOutResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockLotOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="StockLotOutID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockLotOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStockLotOutResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLotNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="LotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLotNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLotNoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoStockOutGlass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="LotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoStockOutGlassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNoStockOutGlassResult" nillable="true" type="q51:ArrayOfstring" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotOutList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="queryList" nillable="true" type="q52:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="PageCount" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="listCount" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotOutListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetStockLotOutListResult" nillable="true" type="q53:ArrayOfStockLotOut" />
        <xs:element minOccurs="0" name="listCount" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotEntityByLotNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="LotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iStatus" type="xs:int" />
        <xs:element minOccurs="0" name="isShowAllDetail" type="xs:boolean" />
        <xs:element minOccurs="0" name="Qty" type="xs:int" />
        <xs:element minOccurs="0" name="OperaterQty" type="xs:int" />
        <xs:element minOccurs="0" name="FanGongQty" type="xs:int" />
        <xs:element minOccurs="0" name="HOLDQty" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotEntityByLotNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetStockLotEntityByLotNoResult" nillable="true" type="q54:StockLot" />
        <xs:element minOccurs="0" name="Qty" type="xs:int" />
        <xs:element minOccurs="0" name="OperaterQty" type="xs:int" />
        <xs:element minOccurs="0" name="FanGongQty" type="xs:int" />
        <xs:element minOccurs="0" name="HOLDQty" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotEntityByLotNo_Ex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="LotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iStatus" type="xs:int" />
        <xs:element minOccurs="0" name="isShowAllDetail" type="xs:boolean" />
        <xs:element minOccurs="0" name="Qty" type="xs:int" />
        <xs:element minOccurs="0" name="HOLDQty" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotEntityByLotNo_ExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetStockLotEntityByLotNo_ExResult" nillable="true" type="q55:StockLot" />
        <xs:element minOccurs="0" name="Qty" type="xs:int" />
        <xs:element minOccurs="0" name="HOLDQty" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotEntityListByLotNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LotID" nillable="true" type="q56:ArrayOfint" />
        <xs:element minOccurs="0" name="iStatus" type="xs:int" />
        <xs:element minOccurs="0" name="isShowAllDetail" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotEntityListByLotNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetStockLotEntityListByLotNoResult" nillable="true" type="q57:ArrayOfStockLot" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStockLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q58:StockLot" />
        <xs:element minOccurs="0" name="StockLotID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStockLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStockLotResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="StockLotID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndStockLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="StockLotID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndStockLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndStockLotResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="StockLotID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStockLotResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotEntityByLotNo_Out">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="LotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OutCount" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotEntityByLotNo_OutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetStockLotEntityByLotNo_OutResult" nillable="true" type="q59:StockLot" />
        <xs:element minOccurs="0" name="OutCount" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="queryList" nillable="true" type="q60:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="PageCount" type="xs:int" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="listCount" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetStockLotListResult" nillable="true" type="q61:ArrayOfStockLot" />
        <xs:element minOccurs="0" name="listCount" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotList_Two">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="queryList" nillable="true" type="q62:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotList_TwoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetStockLotList_TwoResult" nillable="true" type="q63:ArrayOfStockLot" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HOLDAllToNewStockLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="StockLotID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HOLDAllToNewStockLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HOLDAllToNewStockLotResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockOutQtys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StockLotIDs" nillable="true" type="q64:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockOutQtysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SCG.SINOStock.WCF" minOccurs="0" name="GetStockOutQtysResult" nillable="true" type="q65:ArrayOfStockOutQtyHelper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotEntityByLotNoTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="LotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iStatus" type="xs:int" />
        <xs:element minOccurs="0" name="isShowAllDetail" type="xs:boolean" />
        <xs:element minOccurs="0" name="Qty" type="xs:int" />
        <xs:element minOccurs="0" name="OperaterQty" type="xs:int" />
        <xs:element minOccurs="0" name="FanGongQty" type="xs:int" />
        <xs:element minOccurs="0" name="HOLDQty" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockLotEntityByLotNoTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStockLotEntityByLotNoTotalResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="Qty" type="xs:int" />
        <xs:element minOccurs="0" name="OperaterQty" type="xs:int" />
        <xs:element minOccurs="0" name="FanGongQty" type="xs:int" />
        <xs:element minOccurs="0" name="HOLDQty" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockOutDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cAccountID" type="xs:int" />
        <xs:element minOccurs="0" name="StockLotID" type="xs:int" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="CountQty" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockOutDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetStockOutDetailListResult" nillable="true" type="q66:ArrayOfStockOutDetail" />
        <xs:element minOccurs="0" name="CountQty" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStockOutDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q67:StockOutDetail" />
        <xs:element minOccurs="0" name="IsCheck" type="xs:boolean" />
        <xs:element minOccurs="0" name="QtyCount" type="xs:int" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entityID" nillable="true" type="q68:StockOutDetail" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStockOutDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStockOutDetailResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="QtyCount" type="xs:int" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entityID" nillable="true" type="q69:StockOutDetail" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockoutDetailByGlassID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="strGlassID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockoutDetailByGlassIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetStockoutDetailByGlassIDResult" nillable="true" type="q70:StockOutDetail" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyStockOutDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q71:StockOutDetail" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyStockOutDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyStockOutDetailResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockOutDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q72:StockOutDetail" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStockOutDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStockOutDetailResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStockProDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q73:StockProDic" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStockProDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStockProDicResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProDicByProAndLotID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LotID" type="xs:int" />
        <xs:element minOccurs="0" name="ProModel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProDicByProAndLotIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetProDicByProAndLotIDResult" nillable="true" type="q74:StockProDic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTray">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q75:Tray" />
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StockLotIDs" nillable="true" type="q76:ArrayOfint" />
        <xs:element minOccurs="0" name="isQiangDa" type="xs:boolean" />
        <xs:element minOccurs="0" name="Qty" type="xs:int" />
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Boxs" nillable="true" type="q77:ArrayOfstring" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTrayResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="Qty" type="xs:int" />
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Boxs" nillable="true" type="q78:ArrayOfstring" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrayByBarCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="BarCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Qty" type="xs:int" />
        <xs:element minOccurs="0" name="ProModel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrayByBarCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetTrayByBarCodeResult" nillable="true" type="q79:Tray" />
        <xs:element minOccurs="0" name="Qty" type="xs:int" />
        <xs:element minOccurs="0" name="ProModel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrayMaxBarCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="LogID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrayMaxBarCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTrayMaxBarCodeResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrayListByDt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="StartDt" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDt" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrayListByDtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetTrayListByDtResult" nillable="true" type="q80:ArrayOfTray" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxTray">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="LotID" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxTrayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="GetMaxTrayResult" nillable="true" type="q81:Tray" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTray">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/SCG.SINOStock.Entities" minOccurs="0" name="entity" nillable="true" type="q82:Tray" />
        <xs:element minOccurs="0" name="StockLotID" type="xs:int" />
        <xs:element minOccurs="0" name="Qty" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTrayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyTrayResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="Qty" type="xs:int" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTryBarCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strBarCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTryBarCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeTryBarCodeResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>